 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('images/pexels-photo-129208.jpeg');
  background-position: 100% 59.41%;
  background-size: 140%;
}

.u-section-1 .u-sheet-1 {
  min-height: 767px;
}

.u-section-1 .u-image-1 {
  width: 414px;
  height: 52px;
  margin: 20px -26px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  width: 588px;
  --animation-custom_in-translate_x: 500px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 34px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  width: 415px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  text-shadow: 0px -2px 5px rgba(64,64,64,1);
  margin: 47px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 250px;
  height: 219px;
  margin: 61px 20px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-1 .u-text-2 {
    width: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 781px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 8px;
    margin-right: 2px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 100% 59.41%, 72.58% 42.61%;
    background-size: auto 140%, auto 110%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-1 .u-image-1 {
    width: 115px;
    height: 43px;
    margin-top: 11px;
    margin-right: -33px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 113px;
    height: 99px;
    margin-top: 11px;
    margin-right: -12px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1004px;
}

.u-section-2 .u-group-1 {
  width: 550px;
  min-height: 196px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  height: auto;
  margin: 23px auto 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 20px 30px 0 10px;
}

.u-section-2 .u-text-2 {
  margin: 27px 20px 0;
}

.u-section-2 .u-list-1 {
  width: 909px;
  margin: 10px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 192px;
  grid-gap: 20px;
}

.u-section-2 .u-list-item-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1));
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-icon-1 {
  width: 63px;
  height: 63px;
  background-image: none;
  margin: 44px auto 0;
  padding: 12px;
}

.u-section-2 .u-text-3 {
  margin: 23px 20px 0;
}

.u-section-2 .u-list-item-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1));
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-icon-2 {
  width: 63px;
  height: 63px;
  background-image: none;
  margin: 44px auto 0;
  padding: 12px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 23px 20px 0;
}

.u-section-2 .u-list-item-3 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1));
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-icon-3 {
  width: 63px;
  height: 63px;
  background-image: none;
  margin: 44px auto 0;
  padding: 12px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 23px 20px 0;
}

.u-section-2 .u-list-2 {
  width: 909px;
  margin: 20px auto 0;
}

.u-section-2 .u-repeater-2 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 192px;
  grid-gap: 20px;
}

.u-section-2 .u-list-item-4 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1));
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-icon-4 {
  width: 63px;
  height: 63px;
  background-image: none;
  margin: 44px auto 0;
  padding: 12px;
}

.u-section-2 .u-text-6 {
  margin: 23px 20px 0;
}

.u-section-2 .u-list-item-5 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1));
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-icon-5 {
  width: 63px;
  height: 63px;
  background-image: none;
  margin: 44px auto 0;
  padding: 12px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 23px 20px 0;
}

.u-section-2 .u-list-item-6 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1));
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-icon-6 {
  width: 63px;
  height: 63px;
  background-image: none;
  margin: 44px auto 0;
  padding: 12px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 23px 20px 0;
}

.u-section-2 .u-list-3 {
  width: 909px;
  margin: 20px auto 0;
}

.u-section-2 .u-repeater-3 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 192px;
  grid-gap: 20px;
}

.u-section-2 .u-list-item-7 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1));
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-icon-7 {
  width: 63px;
  height: 63px;
  background-image: none;
  margin: 44px auto 0;
  padding: 12px;
}

.u-section-2 .u-text-9 {
  margin: 23px 20px 0;
}

.u-section-2 .u-list-item-8 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1));
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-9 {
  padding: 0;
}

.u-section-2 .u-icon-8 {
  width: 63px;
  height: 63px;
  background-image: none;
  margin: 44px auto 0;
  padding: 12px;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 23px 20px 0;
}

.u-section-2 .u-list-item-9 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(242, 242, 242, 1), rgba(242, 242, 242, 1));
  background-size: cover;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-10 {
  padding: 0;
}

.u-section-2 .u-icon-9 {
  width: 63px;
  height: 63px;
  background-image: none;
  margin: 44px auto 0;
  padding: 12px;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 23px 20px 0;
}

.u-section-2 .u-btn-1 {
  background-image: linear-gradient(to right, #0abbfb, #f27dd5);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 30px auto 0 359px;
  padding: 16px 22px;
}

.u-section-2 .u-btn-2 {
  background-image: linear-gradient(to right, #0abbfb, #f27dd5);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: -55px 362px 60px auto;
  padding: 15px 22px 17px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
  }

  .u-section-2 .u-repeater-3 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
  }

  .u-section-2 .u-btn-1 {
    margin-left: 159px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 162px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 24px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
    min-height: 197px;
    grid-auto-columns: calc(33.3333% - 13.3333px);
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
    grid-auto-columns: calc(33.3333% - 13.3333px);
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-3 {
    grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
    min-height: 189px;
    grid-auto-columns: calc(33.3333% - 13.3333px);
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 50px;
    margin-left: 116px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 119px;
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 472px;
    grid-auto-columns: calc(50% - 9.999975px);
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 460px;
    grid-auto-columns: calc(50% - 9.999975px);
  }

  .u-section-2 .u-repeater-3 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 454px;
    grid-auto-columns: calc(50% - 9.999975px);
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-repeater-3 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

.u-section-2 .u-list-item-1,
.u-section-2 .u-list-item-1:before,
.u-section-2 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  transform: scale(1.1) !important;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  transform: scale(1.1) !important;
}

.u-section-2 .u-list-item-2,
.u-section-2 .u-list-item-2:before,
.u-section-2 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  transform: scale(1.1) !important;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  transform: scale(1.1) !important;
}

.u-section-2 .u-list-item-3,
.u-section-2 .u-list-item-3:before,
.u-section-2 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  transform: scale(1.1) !important;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  transform: scale(1.1) !important;
}

.u-section-2 .u-list-item-5,
.u-section-2 .u-list-item-5:before,
.u-section-2 .u-list-item-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-5.u-list-item-5.u-list-item-5:hover {
  transform: scale(1.1) !important;
}

.u-section-2 .u-list-item-5.u-list-item-5.u-list-item-5.hover {
  transform: scale(1.1) !important;
}

.u-section-2 .u-list-item-4,
.u-section-2 .u-list-item-4:before,
.u-section-2 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  transform: scale(1.1) !important;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  transform: scale(1.1) !important;
}

.u-section-2 .u-list-item-6,
.u-section-2 .u-list-item-6:before,
.u-section-2 .u-list-item-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-6.u-list-item-6.u-list-item-6:hover {
  transform: scale(1.1) !important;
}

.u-section-2 .u-list-item-6.u-list-item-6.u-list-item-6.hover {
  transform: scale(1.1) !important;
}

.u-section-2 .u-list-item-9,
.u-section-2 .u-list-item-9:before,
.u-section-2 .u-list-item-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-9.u-list-item-9.u-list-item-9:hover {
  transform: scale(1.1) !important;
}

.u-section-2 .u-list-item-9.u-list-item-9.u-list-item-9.hover {
  transform: scale(1.1) !important;
}

.u-section-2 .u-list-item-7,
.u-section-2 .u-list-item-7:before,
.u-section-2 .u-list-item-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-7.u-list-item-7.u-list-item-7:hover {
  transform: scale(1.1) !important;
}

.u-section-2 .u-list-item-7.u-list-item-7.u-list-item-7.hover {
  transform: scale(1.1) !important;
}

.u-section-2 .u-list-item-8,
.u-section-2 .u-list-item-8:before,
.u-section-2 .u-list-item-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-8.u-list-item-8.u-list-item-8:hover {
  transform: scale(1.1) !important;
}

.u-section-2 .u-list-item-8.u-list-item-8.u-list-item-8.hover {
  transform: scale(1.1) !important;
}.u-section-3 .u-sheet-1 {
  min-height: 1360px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 510px;
  margin: 61px auto 0;
}

.u-section-3 .u-icon-1 {
  width: 76px;
  height: 76px;
  margin: 347px 494px 0 auto;
  padding: 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 580px;
  margin: -331px auto 0 25px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 303px;
}

.u-section-3 .u-container-layout-1 {
  padding: 23px 0;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 99px 0 30px;
}

.u-section-3 .u-text-3 {
  margin: 25px 0 0 30px;
}

.u-section-3 .u-layout-wrap-2 {
  width: 580px;
  margin: 28px 25px 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 207px;
}

.u-section-3 .u-container-layout-2 {
  padding: 23px 0;
}

.u-section-3 .u-text-4 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 0 0 11px;
}

.u-section-3 .u-text-5 {
  margin: 25px 0 0 30px;
}

.u-section-3 .u-icon-2 {
  width: 76px;
  height: 76px;
  transform-origin: center center;
  transform: scaleX(-1);
  margin: -25px auto 0 511px;
  padding: 0;
}

.u-section-3 .u-layout-wrap-3 {
  width: 580px;
  margin: 30px auto 0 25px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 220px;
}

.u-section-3 .u-container-layout-3 {
  padding: 23px 0;
}

.u-section-3 .u-text-6 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 -19px 0 30px;
}

.u-section-3 .u-text-7 {
  margin: 25px 0 0 30px;
}

.u-section-3 .u-icon-3 {
  width: 76px;
  height: 76px;
  margin: -10px 518px 0 auto;
  padding: 0;
}

.u-section-3 .u-layout-wrap-4 {
  width: 580px;
  margin: 0 25px 60px auto;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 185px;
}

.u-section-3 .u-container-layout-4 {
  padding: 23px 0 12px;
}

.u-section-3 .u-text-8 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 -19px 0 30px;
}

.u-section-3 .u-text-9 {
  margin: 25px 0 0 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-icon-1 {
    transform: scaleY(-1);
    transform-origin: center center 0px;
    margin-right: 407px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 14px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 14px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 422px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 14px;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 427px;
  }

  .u-section-3 .u-layout-wrap-4 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 810px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 312px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 323px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 327px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-icon-1 {
    transform: scaleY(-1);
    transform-origin: center center;
    margin-right: 234px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-left: 30px;
    margin-right: 99px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 242px;
  }

  .u-section-3 .u-layout-wrap-3 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-right: 99px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 245px;
  }

  .u-section-3 .u-layout-wrap-4 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: 0;
    margin-right: 99px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1423px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 275px;
    margin-right: -275px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -359px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-4 {
    font-size: 2.25rem;
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -322px;
    margin-right: -209px;
    margin-left: auto;
  }

  .u-section-3 .u-layout-wrap-3 {
    margin-top: 245px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-6 {
    font-size: 2.25rem;
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
  }

  .u-section-3 .u-icon-3 {
    margin-top: -547px;
    margin-right: -199px;
  }

  .u-section-3 .u-layout-wrap-4 {
    margin-top: 471px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 329px;
  }

  .u-section-3 .u-text-8 {
    font-size: 2.25rem;
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 499px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 41px;
  margin-bottom: 50px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 408px;
}

.u-section-4 .u-container-layout-1 {
  padding: 23px 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 16px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 408px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 15px 26px;
}

.u-section-4 .u-text-2 {
  line-height: 2;
  font-size: 1rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -53px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 465px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 14px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 465px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 50px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 369px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 178px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 401px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 832px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 1px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 208px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 21px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 458px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
} .u-section-5 {
  min-height: 677px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 783px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 15px;
}

.u-section-5 .u-shape-1 {
  width: 527px;
  height: 202px;
  margin: 48px auto 0;
}

.u-section-5 .u-shape-2 {
  width: 250px;
  height: 286px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 112px auto 0;
}

.u-section-5 .u-image-1 {
  min-height: 339px;
  background-image: url("images/pexels-michaela-295826.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 444px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 558px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 646px;
  }

  .u-section-5 .u-shape-1 {
    width: 439px;
  }

  .u-section-5 .u-image-1 {
    min-height: 280px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 366px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 495px;
  }

  .u-section-5 .u-shape-1 {
    width: 329px;
  }

  .u-section-5 .u-image-1 {
    min-height: 214px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 743px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 50px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 321px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 468px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-5 .u-shape-1 {
    width: 320px;
  }

  .u-section-5 .u-image-1 {
    min-height: 202px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/pexels-photo-9392381.jpeg');
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 747px;
}

.u-section-6 .u-text-1 {
  margin: 64px auto 0;
}

.u-section-6 .u-btn-1 {
  --radius: 50px;
  background-image: linear-gradient(#f27dd5, #9f5d8e);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 64px auto 0 182px;
  padding: 23px 67px 25px 65px;
}

.u-section-6 .u-icon-1 {
  font-size: 1.5em;
}

.u-section-6 .u-btn-2 {
  --radius: 50px;
  background-image: linear-gradient(#f27dd5, #9f5d8e);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: -98px 179px 0 auto;
  padding: 23px 67px 25px 65px;
}

.u-section-6 .u-icon-2 {
  font-size: 1.5em;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  font-size: 1.5rem;
  margin: 23px auto 0 227px;
  padding: 0;
}

.u-section-6 .u-btn-4 {
  background-image: none;
  font-size: 1.5rem;
  margin: -36px 159px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-6 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-6 .u-btn-3 {
    margin-left: 27px;
  }

  .u-section-6 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-6 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-6 .u-btn-2 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-6 .u-btn-2 {
    margin-top: 59px;
    margin-right: auto;
  }

  .u-section-6 .u-btn-3 {
    margin-top: -146px;
    margin-left: auto;
  }

  .u-section-6 .u-btn-4 {
    margin-top: 128px;
    margin-right: auto;
  }
}