.u-section-1 .u-sheet-1 {
  min-height: 463px;
}

.u-section-1 .u-group-1 {
  width: 540px;
  min-height: 412px;
  height: auto;
  margin: 51px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 27px;
}

.u-section-1 .u-shape-1 {
  width: 250px;
  height: 219px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-1 .u-list-1 {
  width: 570px;
  margin: -352px 0 60px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 293px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 10px 20px 20px;
}

.u-section-1 .u-text-2 {
  margin: 0 142px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 17px 114px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 10px 20px 20px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 0 142px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 17px 114px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1367px;
  }

  .u-section-1 .u-group-1 {
    width: 685px;
    height: auto;
  }

  .u-section-1 .u-list-1 {
    width: 470px;
    margin-top: 20px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-2 {
    margin-right: 42px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 14px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 42px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1382px;
  }

  .u-section-1 .u-group-1 {
    min-height: 532px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1357px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: 550px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-list-1 {
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 7px;
    margin-right: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-1 .u-group-1 {
    min-height: 285px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 30px;
    margin-bottom: 46px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }
}